[user]
        name = lei.cen
        email = lei.cen@bytedance.com
[url "ssh://lei.cen@git.byted.org:29418"]
        insteadOf = https://git.byted.org
[url "ssh://lei.cen@git.byted.org:29418"]
        insteadOf = https://review.byted.org
[url "git@code.byted.org:"]
        insteadOf = https://code.byted.org/
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f

[credential]
    helper = osxkeychain
[core]
    excludesfile = /Users/icelen/.gitignore_global
	autocrlf = false
	safecrlf = true
	editor = vim
; [mergetool "sourcetree"]
; 	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
; 	trustExitCode = true
[alias]
    co = checkout
    ci = commit -a
    st = status
    br = branch
    hist = log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short
    type = cat-file -t
    dump = cat-file -p
    unstage = reset HEAD --
    last = log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short --max-count=1
    ready = diff --cached
    amend = commit --amend
[push]
    default = simple
