[user]
    name = Lei Cen
    email = cenlei2000@gmail.com
[credential]
    helper = osxkeychain
[core]
    excludesfile = /Users/icelen/.gitignore_global
	autocrlf = input
	safecrlf = true
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
; [mergetool "sourcetree"]
; 	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
; 	trustExitCode = true
[merge]
    tool = splice

[mergetool "splice"]
    cmd = "vim -f $BASE $LOCAL $REMOTE $MERGED -c 'SpliceInit'"
    trustExitCode = false
[alias]
    co = checkout
    ci = commit
    st = status
    br = branch
    hist = log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short
    type = cat-file -t
    dump = cat-file -p
    unstage = reset HEAD --
    last = log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short --max-count=1
    ready = diff --cached
    amend = commit --amend
[push]
    default = simple
